[2012-06-06 23:48] vmarta opened #3 "ReferenceError: Can't find variable: Â"
A hidden/invisible character in `makeElement()` on `api/extractDOM.js` causes a blank page, whose console shows the error:

<pre>ReferenceError: Can't find variable: Â</pre>

You can sorta see this invisible character through [Github](https://github.com/mobify/mobifyjs/blob/master/api/extractDOM.js).

The weird thing is that it causes problems only on certain pages. @jansepar I'll email you the de

[2012-06-07 23:25] noahadams opened #8 "Provide pure javascript implementation of url absolutification"
for use with $.fn.resizeImages() because the DOMy way is slow when done in numbers. Also, use this for absolutification with combo.

[2012-06-07 23:30] noahadams commented on #8
Consider: https://gist.github.com/1088850 and http://code.google.com/p/js-uri/

[2012-06-11 22:27] #3 closed, assigned to nobody

[2012-06-11 22:29] johnboxall opened #11 "Combo performance measurement"
Now that we've got the basics of combo setup, let's clock its performance.

We'll want to measure bandwidth and execution time across a range of resources.

[2012-06-11 22:31] noahadams commented on #11
Are we doing substantial ideeli work soon? They seem like a great testbed for this.

[2012-06-11 22:32] noahadams commented on #11
And an opportunity to get some feedback and ideas on the API from launch.

[2012-06-12 19:41] vmarta opened #12 "Ark - Mobify.desktop() is not restored on Firefox"
We need to store `api/util.js` in the ark.

[2012-06-13 22:57] vmarta commented on #12
Let me close this, since I've opened a pull request just now.

[2012-06-13 22:57] #12 closed, assigned to nobody

[2012-06-14 06:06] johnboxall commented on #8
Re. https://github.com/mobify/mobifyjs/commit/9882642ad711bd7d90a9f8b447fa23cf12408d1f

Though it would be nice to include a full URL parser, it's not nessecary to solve this issue.

Our requirement is to absolutify the `src` property of `<script>` and `<img>` tags.

To satisfy this, we only need to ensure the reference is not already absolute and then join the 'base':

http://jsperf.com/make-url-

[2012-06-14 17:13] noahadams commented on #8
Also need to handle ./ and ../

[2012-06-14 17:39] noahadams commented on #8
Also, for later reference, the property `document.baseURI` provides a `<base>` sensitive correct base URI for relative URIs in the document on iOS 3, Blackberry OS 6 and Android 2.1.

http://www.w3.org/TR/DOM-Level-3-Core/core.html#baseURIs-Considerations

[2012-06-14 23:47] johnboxall opened #15 "Improve testing/ci integration"
1. Better error reporting
2. Console reporter

[2012-06-28 16:02] johnboxall opened #21 "Make $('html') work inside the konf"
Currently `$('head')` works inside the konf... but `$('html')` doesn't!

[2012-06-29 22:00] romanrudenko commented on #21
Fixed in 1.2 by creating a document via window.document.implementation.createHTMLDocument(). Will need to test this to see how well it works across all our platforms.

[2012-07-03 19:56] noahadams opened #23 "image resize client url rewriting apparently broken on firefox"
resulting in paths of the form `/%22http://static.beyondtherack.com/collateral/messecaplomo/splash_banner_messecaplomo.jpg%22` in the image resize server logs, which is not a valid request, causing a 400 and no image to display.

Opera Mini on iPhone is having similar problems.

Currently investigating with Firefox on Android

[2012-07-03 20:37] rrjamie commented on #23
%22 is "?

Getting quotes from .attr() maybe?

[2012-07-03 20:57] noahadams commented on #23
Yeah, this might have to do with the "custom" use of imageresizer (that is to say without using the API) on BTR, tests are passing on Firefox 14 desktop, firefox 14 beta mobile and Opera desktop

[2012-07-04 17:30] rrjamie commented on #23
This was (now gone) on BTR:

[code]

[2012-07-04 17:54] johnboxall commented on #23
Like @rrjamie mentioned, this was an issue w/ the caller code.

Firefox:

[code]

Chrome:

[code]

@noahadams can you please note this on the docs.

[2012-07-05 22:33] #15 closed, assigned to nobody

[2012-07-06 18:05] #23 closed, assigned to noahadams

[2012-07-10 06:02] jansepar opened #29 "Remove special handling of `width` and `height`"
Transfered from old repo:

"Let's make people be explicit about removing these ---- this makes it easier to build the responsive konf.

jb"

[2012-07-10 06:07] jansepar opened #30 "Debug toolbar"
As discussed before, it would be great to have a debug toolbar. Do we think this would be useful in the non-iframe view? Trouble is that people's CSS might conflict with the debug toolbar. Alternatively we could also do a postMessage and display the debug info on a different way in the preview iframe view only, for cloud.mobify.com, and for non-iframe, consider the console output sufficient.

[2012-07-10 06:28] jansepar opened #31 "Zepto doesn't support `special` events"
From old repo:

"Enhance polyfilled orientationchange using jQuery special events.

There is no equivalent in Zepto - devices that don't have orientationchange support won't get the events.

How should we polyfill this event?"

[2012-07-12 22:10] johnboxall opened #33 "When to enable/disable debugging mode"
How to enable / disable debugging mode

Right now, debugging is activated based on whether the `mobify-path` cookie is set to a non-empty value.

With the new opensource tag, `mobify-path` is not set in development.

You could enable it by setting a cookie but that's kind of a pain.

We could:
1. Check for `#mobify-debug=1` on the page and set the cookie / enable it if found. We could then encoura

[2012-07-12 22:14] jansepar commented on #33
+1 for #2. The question then becomes, when do we give users the option to enable production mode when compiling? I would say default production off in the development server, and default on for push (with the ability to toggle both with command line params).

[2012-07-12 22:16] johnboxall commented on #33
A note, that because of the order files are compiled in, it's actually possible today to activate debugging mode with the OST by using `#mobify-path=1`

[2012-07-30 22:19] b1tr0t opened #42 "Rename mobify.konf to mobify.js"
The docs mention the konf frequently -- so maybe rename to mobifykonf.js or konf.js.  Regardless, currently .konf does not suggest to JS developers that this is just plain javascript.  Plus it means that syntax highlighting isn't automatic for most text editors.

[2012-08-01 01:07] kpeatt opened #45 "Zepto doesn't have scrollTop!"
I miss 'scrollTop' from jquery. Now we do this really jarring jump to top when someone clicks a Back to Top button. Is there anything we can do about that?

[2012-08-01 20:45] jansepar opened #46 "Non-content items for Accordion"
Some users may want to have elements in the accordions that are just links, instead of having content. Let's implement this feature.

[2012-08-01 20:48] jansepar opened #47 "Add various options to accordion"
We should be able to customize class names as options, also prefixes.

Another configurable option people may want is the ability for the entire page to reflow when opening and closing (right now, height of the accordion is reflowed in one frame to improve performance).

[2012-08-03 00:56] rrjamie opened #55 "Bubble.js (API 1.0) Doesn't Work on iOS5.1.1"
This seems to be related to this:

[code]

`loaded` is never called. iOS 5 may have changed the preloading behaviour.

[2012-08-07 19:11] noahadams opened #57 "Make not using shards the default in $.fn.resizeImages() url rewriting"
Domain sharding doesn't appear to provide any performance gains in modern mobile browsers, as they will open more simultaneous connections to a single domain.

[2012-08-13 23:08] noahadams opened #61 "Add image reszing doc to mobifyjs repo"
With cloud feature disclaimer added.

[2012-08-13 23:09] noahadams opened #62 "Add combo doc to mobifyjs docs"
With cloud feature disclaimer.

[2012-08-15 18:18] noahadams opened #63 "add combo docs to mobifyjs repo"

[2012-08-15 20:49] #63 closed, assigned to nobody

[2012-08-15 20:49] noahadams commented on #63
dupe

[2012-08-21 20:00] noahadams opened #67 "update combo host to "jazzcat.mobify.com""

[2012-08-21 20:01] noahadams opened #68 "renamespace "combo" backend functions to "jazzcat""

[2012-08-21 21:05] noahadams opened #69 "add "jazzcat" to documentation around combining scripts"
To reflect naming of the service

[2012-08-21 23:18] noahadams opened #70 "jazzcat API: URI encode keys used to make request and in httpCache dictionary"
Spaces and other escaped characters in URL are inconsistent between the URL used to create the key and the URL used to look up the value later, ensure keys get URI encoded before they are used.

[2012-08-22 20:12] #57 closed, assigned to noahadams

[2012-08-22 22:55] gane5h commented on #61
PR 64 was accepted and merged back into master.

[2012-08-22 22:55] #61 closed, assigned to noahadams

[2012-08-22 22:55] gane5h commented on #62
PR 64 was accepted and merged back into master.

[2012-08-22 22:55] #62 closed, assigned to noahadams

[2012-08-22 22:57] gane5h commented on #69
Done. The docs merged in PR 64 consistently use Jazzcat.

[2012-08-22 22:57] #69 closed, assigned to noahadams

[2012-08-22 22:59] gane5h opened #72 "Standardize cloud call out in docs"
in:
- Jazzcat docs
- IR docs
- Readme
- Homepage

We should also have an icon for the cloud.

[2012-08-23 22:32] #67 closed, assigned to noahadams

[2012-08-23 22:32] noahadams commented on #67
change mereged

[2012-08-30 22:13] mezzoblue opened #74 "Carousel Module: fix copy & paste"
On the desktop, when I go to select text within a carousel for copy & paste purposes, swipe events appear to be firing instead. The result is any text within a carousel is unselectable.

[2012-09-27 17:15] noahadams opened #79 "Mobify.$.fn.resizeImages() should be idempotentish"
Which is to say, should detect URLs that are already using the service, and not rewrite them.

[2012-11-01 17:09] noahadams opened #81 "image resizing: make resilient to service failure"
Make image resizing url rewriting resilient to service failure by preserving the original src value in a data attribute, and setting up an onerror handler that will restore the original src.

[2012-11-14 01:59] noahadams commented on #70
resolved by pull

[2012-11-14 01:59] #70 closed, assigned to noahadams

[2012-12-05 00:42] noahadams commented on #8
full url parsing is JS tends to be outperformed by the anchor element method, and less than full parsing isn't enough in a lot of situations..

[2012-12-05 00:42] #8 closed, assigned to noahadams

[2012-12-12 22:13] jansepar opened #85 "Add documentation on Mobify.enhance"
Nowhere in our docs do we talk about Mobify.enhance, which adds classes depending on the device, sd/hd, touch support, landscape/portrait, etc. Let's add it!

[2013-02-14 19:22] tedtate opened #96 "Accordion module is broken in Chrome 26 and Firefox 18"
Browsers:

Chrome 26 (Chrome dev channel - http://www.chromium.org/getting-involved/dev-channel)
Firefox 18.0.2 (Release)

Steps to reproduce:

1) Go to http://www.mobify.com/mobifyjs/modules/accordion/
2) Open an accordion
3) Close that accordion
4) Attempt to open that accordion again

Result:

The accordion fails to open. Also, when the accordion is fully closed the accordion is pushing page co

[2013-02-14 19:23] tedtate commented on #96
Note: Safari 6 seems to work fine.

[2013-02-20 01:03] noahadams commented on #96
fixed by #97

[2013-02-20 01:03] #96 closed, assigned to nobody

[2013-02-22 21:26] MikeKlemarewski opened #101 "Add exception handling around setAttribute"
Port this fix (https://github.com/mobify/portal_app/pull/1570) back into mobify.js

Add testing (this markup will make it break unless we have proper exception handling):

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US"
<link rel="stylesheet" href="">

[2013-02-25 19:14] noahadams opened #104 "Accordion - image indicator example busted"
Image indicator example is broken, or at least, I don't see any image indicators.

http://www.mobify.com/mobifyjs/modules/accordion-examples/

[2013-02-25 19:20] noahadams opened #105 "Accordion Docs: Markup link goes nowhere"

[2013-02-27 00:29] noahadams opened #106 "Page rendering is slower with JazzCat"
Device: Samsung Infuse (Android OS 2.3.6), Galaxy S (Android 2.3.3), iPhone 3GS (iOS 6.1.1), iPhone 4S (iOS 6.0)
Original URL: http://www.epicurious.com/recipes/food/views/Mushroom-Leek-and-Fontina-Frittata-51143040

On the specified page we include almost all of Javascripts (keep about 30 external and 45 inline scripts, combining all of them with JazzCat) joining the remaining scripts with  JazzC

[2013-03-05 02:27] tedtate opened #108 "Increase the detail of error messaging in console"
Currently when you encounter an error when making a selection inside of your mobify.konf you get an error message that looks something like this:

![Developer_Tools_-_https___mygreen garmin com_en-US_US_on-the-road_automotive_n-uuml-vi-reg-40_prod92773 html-2](https://f.cloud.github.com/assets/136145/219124/069d7bc4-8521-11e2-8eba-5fee28c48270.png)

It would be nicer if the error was:

a) A bit lo

[2013-03-08 01:16] #108 closed, assigned to nobody

[2013-03-13 23:06] kpeatt opened #114 "Carousel Docs — Confused language"
![](http://uploads.hipchat.com/15359/101261/8sftozikeyhsvba/upload.png)

Documentation states that items are center aligned by default and then later states that items are left aligned by default.

[2013-03-28 16:10] ghost opened #120 "Error in IE8"
I know the plugin says it only supports IE10+, but in IE8 it breaks the JS. I am getting the error:
"Message: 'window.Mobify.points' is null or not an object
Line: 99
Char: 1
Code: 0
URI: http://cdn.mobify.com/mobifyjs/examples/capturing-picturepolyfill/index.html"

[2013-03-28 16:12] ghost opened #121 "Breaks Reload in Firefox"
Tested on a few machines and am getting a very weird issue in firefox. Plugin functions fine but it breaks the reload functionality in firefox. Go to any demo page, make the page scroll vertically and try to reload the page, with the reload button, cmmd + r, or even location.reload() in JS. It will not reload. Have to hit enter in URL bar.

[2013-03-29 01:45] jansepar commented on #120
Thanks for the issue! This actually isn't a problem with the library itself, it's just an issue with the example. It has to do with the fact that I try to use variables for performance measurement that only get set if you have a supported device. So for IE8, we attemped to accesss window.Mobify, which doesn't exist because our detector function determined that IE8 isn't a supported browser. I'll f

[2013-03-29 01:52] jansepar commented on #121
This was actually a known issue that we had with for Firefox mobile. Unfortunately it seems like they haven't brought the fix over to Desktop Firefox yet. Thanks for filing this issue, we will definitely get in contact with them and file an issue with them.

[2013-04-08 01:59] shogun70 opened #125 "Add support for AJAX content"
**Feature suggestion:** Mobify only supports capturing the landing-page. However AJAX and PJAX (pushState + AJAX) loaded content could benefit from the same capability.

My proposed functionality for Mobify has the following:
1. HTMLParser - this takes the xhr.responseText (or any string) and parses it to create a HTMLDocument
2. DOMProcessor - applies processing rules to a document
3. Glue - make

[2013-04-09 13:24] shogun70 opened #127 "Inserting <plaintext> means mobify.js AND main.js are single-points-of-failure"
Once the `<plaintext>` tag has been inserted the page is blank until it is rewritten.
This turns into a completely unusable page / site if anything prevents this rewrite from happening, e.g.
- `mobify.js` fails to load because it is on an external server (CDN perhaps) which is down or blocked
- `mobify.js` throws an error, because it encounters an unexpected browser behavior
- `main.js` throws an

[2013-04-09 15:40] johnboxall commented on #127
@shogun70 there are a couple of approaches to avoid this - assuming you have a modern browser, you could attach an error listener to the inserted script - on error you could set an "opt-out" cookie and reload the page.

[2013-04-09 23:07] jansepar commented on #125
@shogun70 thanks for the detailed suggestions! Here are some of my thoughts:
- HTMLParser: So, you would like the ability to fetch a page and create a Document with no resources loaded? We could certainly create a method for that. If you do want to do this though before it is a feature of the library, feel free to fetch the page and use Mobify.Capture.disable to disable the assets on the page, and

[2013-04-09 23:08] jansepar commented on #106
This has been solved in v2.0 by no longer using data-uris. This change has not been backported in v1.1 though. I will leave this ticket open until it is, or until we deem the backport unnecessary.

[2013-04-09 23:17] noahadams commented on #125
In HTML5, parser added scripts (which in this context means script tags added using document.write()) are the only scripts with a guaranteed execution order.

Script elements added using DOM methods like Node.appendChild() offer no guarantees about the order in which things will run.

Further, using document.write() to output scripts means that those scripts themselves (say, ad tags) can also call

[2013-04-09 23:25] noahadams commented on #106
It's in 1.1: https://github.com/mobify/mobifyjs/commit/73106a4b18860567485a86f9258a7f75272dd948

https://github.com/mobify/mobifyjs/pull/110

We can close this.

[2013-04-09 23:26] #106 closed, assigned to nobody

[2013-04-09 23:34] shogun70 commented on #127
An opt-out cookie throws the complexity back onto the site author. I think an option using the already loaded content would be more appropriate.

Assuming the init script is the first script in the document, you could:
1. wait for `DOMContentLoaded` or equivalent
2. remove all script elements from document
3. `document.write` the `<html>` and `<head>` opening tags followed by `head.innerHTML` foll

[2013-04-10 00:06] shogun70 commented on #125
Hi @noahadams.
1. Actually HTML5 **does** allow you to insert scripts while maintaining execution order.
   See [Dynamic Script Execution Order](http://wiki.whatwg.org/wiki/Dynamic_Script_Execution_Order) for
   a meandering analysis and [labjs](http://labjs.com/) for one implementation.

   It is probably more complex and possibly less robust than what `mobify` currently does.
2. You are correct

[2013-04-10 01:05] shogun70 commented on #125
Hi @jansepar.

I can see that my issue statement didn't provide a very good context for what I was suggesting. I'll do that now.

I guess the main thing I'm trying to say is I don't like the Mobify API. The code does great stuff, but the API is all about capturing the landing page. This is all upside-down - capturing the landing-page is a small part of what Mobify should be. The Responsive DOM Pre

[2013-04-10 15:07] johnboxall commented on #127
@shogun70 Assuming the document is well formed and you aren't worried about losing content above bootstrap tag, your solutions should work!

https://gist.github.com/johnboxall/5355380

Some older browsers don't support `el.outerHTML` - depending on what browsers we're supporting, we may need to polyfill that.

Our philosophy behind the included bootstrap tag (https://github.com/mobify/mobifyjs/blo

[2013-04-11 12:31] shogun70 commented on #127
@johnboxall I've done a bit of experimenting and came up with something

https://gist.github.com/shogun70/5362893

The boot-function in that gist has this signature:

[code]

where
- **detector** is the same as the current mobify boot-function. Internally the function also rejects browsers that don't support `script.onload`.
- **timeout** is for a failsafe timer which rewrites the document if the

[2013-04-11 13:44] shogun70 commented on #127
Another thought...

I'm dubious of the benefits of this inline boot-script. If the top of the document looked like

[code]

then the boot-script can be modified without updating the document.

`boot.js` could even be designed allowing it to contain the site-specific preprocessing, in which case there are still only two external scripts: `boot.js` and `mobify.js`. Alternatively the boot script coul

[2013-04-11 15:16] johnboxall commented on #127
@shogun70 when modern browsers hit a blocking resource the preparser fetches resources past the blocking script:

https://gist.github.com/johnboxall/5364132

We've made a philosophical decision to block the preparser until we've finished capturing the document. That means the bootstrap logic that writes out the `<plaintext>` must be inline.

Regarding your updated bootstrap - moving the bootstrap

[2013-04-11 15:17] johnboxall commented on #127
@shogun70 Also - in a production scenario I'd expect you to concatenate all capturing related scripts - this would allow us to remove the queuing logic from your bootstrap.

[2013-04-11 21:21] shogun70 commented on #127
@johnboxall Thanks for those responses.
1. I forgot about look-ahead parsing and speculative downloading in modern browsers - Mobify's goals do seem to necessitate an inline boot-script.
2. I believe `<script>` before `<html>` is safe in standards mode but I haven't checked in all browsers.

   I think the browser does create `<html>` and `<head>` placeholders which are then replaced if they are f

[2013-04-11 21:27] shogun70 commented on #127
@johnboxall Although, regarding the boot-script needing to be inline in order to prevent resource prefetching, this is only the case when the boot-script is not in the browser cache.

[2013-04-14 12:41] shogun70 commented on #127
Reflecting on this a bit more...

a) The boot-script needs to be able to read and write the real-document-markup (for the fail-safe rewrite)
b) Placing the boot-script **before** the real-document-markup means the page markup can be trivially constructed.
c) The boot-script needs to be able to prevent the mobify-script from rewriting the page (after the fail-safe timeout)

I think the boot-script

[2013-04-15 00:19] johnboxall commented on #127
Hey @shogun70,

We'd be willing to accept a Pull Request for a new tag that eliminates the capturing library as a SPOF.

Investigating SPOF has lead us to other questions:
1. Should the bootstrap logic be moved to an external script as the pre-parser behaviour is only present when the script is not cached (this needs to be verified)
2. Can the tag be repositioned to reduce the complexity of elimin

[2013-04-15 00:37] johnboxall commented on #125
@shogun70  - I think this is a great suggestion - it would be awesome to use Mobify.js' transformations with something like PJAX.

I think the immediate next step is to try combining Mobify.js with something like [jquery-pjax](https://github.com/defunkt/jquery-pjax) and see what glue code is required and if there are any blockers - eg. our use of `document.write`.

[2013-04-15 14:21] shogun70 commented on #127
As an aside, `/complete|interactive/.test(document.readyState)` and `document.onreadystatechange` are not reliable as tests for `DOMContentLoaded`. All versions of IE can have `interactive` state before the DOM is fully loaded, or even when the first script runs. Typically this wouldn't matter because the document will have finished loading before the mobify script has.

Here's a test page

https:

[2013-04-19 06:23] jansepar commented on #127
@shogun70 thanks for the test! I will have to look into verifying this on IE10 (my VM is not currently installed). Although we have setup unit tests to verify our solution, and we have ran it on IE10 and it worked: https://github.com/mobify/mobifyjs/pull/130

Just a note, Mobify.js only supports IE10+

[2013-04-19 08:30] shogun70 commented on #127
@jansepar I'm not familiar with Node.js, but I would assume output buffering on the server is preventing the `write()` in the unit test from really flushing to the client. When I made an equivalent test (using PHP `sleep()` to delay the last part of the response) I had to turn off gzip-encoding to get a proper flush.

[2013-04-25 22:03] vmarta opened #133 "Definition of escape for escapedHTMLString()"
Why is escapedHTMLString() called as it is now? Shouldn't it be unescapedHTMLString() perhaps?

In the doc's [Quick Start](http://www.mobify.com/mobifyjs/v2/docs/) page, the main.js sample has this comment:

In this case, the word 'escape' means _adding_ the prefix.

However, that meaning is contradicted with what [escapedHTMLString()](http://www.mobify.com/mobifyjs/v2/docs/capturing/#escapedhtmls

[2013-04-28 00:42] shogun70 opened #136 "document.readyState == 'interactive' is invalid DOM ready test in IE10"
This relates to a bug in the v2.0 branch.

`/complete|interactive/.test(document.readyState)` and `document.onreadystatechange` are not reliable as DOM ready tests. All versions of IE can have `interactive` state before the DOM is fully loaded. Also, `readystatechange` can fire before the DOM is fully loaded.

I have written an exploratory test which is sufficient to confirm this bug.

https://gis

[2013-04-28 03:03] shogun70 commented on #136
Also, Opera doesn't fire the `readystatechange` event on `document`.

CORRECTION: document.onreadystatechange fires **after** window.onload.
I've updated the test:
https://gist.github.com/shogun70/5388420

[2013-04-28 11:38] shogun70 opened #137 "Breaks browser history on IE, Firefox, Opera"
On IE, Firefox and Opera, the `document.open(); document.write(); document.close()` call seems to add a new browser history entry with the same URL.

After this occurs, clicking the browser back-button will return to the previous history item which is still the current URL.

On IE and FIrefox this results in the current page reloading, the boot-script and mobify re-executing, `document.open()/writ

[2013-04-28 19:53] jansepar commented on #137
Hi @shogun70, thanks for filing this! After doing some research, it seems like doing this fixes the back button for Firefox:

document.open("text/html", "replace");

I still have to do some testing on the other browsers you mentioned.

[2013-04-28 19:58] jansepar commented on #136
@shogun70 thanks for the test case! I will look into this and come up with the appropriate fix asap!

[2013-04-29 11:18] shogun70 commented on #137
Thanks @jansepar. I did not know that.

This fix seems fine for IE10, and I guess Opera can be ignored until the Webkit rebase - Opera 13??

[2013-04-29 12:01] shogun70 commented on #136
Unlike `DOMContentLoaded` and `readystatechange`, `window.onload` is supported on all recent and almost all older browsers. When **mobify.js** is able to run on older browsers then a `window.onload` solution won't need to be updated.

Because there is no content, images or styles to download and / or render, I would assume that `window.onload` is not significantly later than any other event that c

[2013-04-30 04:15] shogun70 opened #139 "v2.0 boot-script can fail to load main.js in IE10"
When I visit - for example - http://cdn.mobify.com/mobifyjs/examples/capturing-picturepolyfill/index.html in IE10, and then click in the address bar and press enter to reload the page, I get a blank page.

When I capture the network activity, the first visit loads all expected resources - including `mobify.js` and `main.js` - but on the second visit nothing is loaded after `mobify.js`.

If I edit

[2013-04-30 06:01] jansepar commented on #139
@shogun70 interesting! The strangest thing about this is that I cannot replicate this issue with using localhost examples - it only happens with the examples on the CDN. I tried fixing one of the examples doing what you suggested, and deployed it to the CDN and it solved the issue. Thanks a lot! I should have a pull request ready to fix most of the examples and an updated bootstrap tag tomorrow.

[2013-04-30 06:19] shogun70 commented on #139
@jansepar I presume the IE bug only occurs when the first script - in this case `mobify.js` - is loaded from browser cache. That may explain why the localhost examples don't fail.

[2013-04-30 12:13] shogun70 commented on #137
@jansepar I saw that the patch for this issue only updates the `document.open()` call in `render()`. Shouldn't this also be done for `restore()`?

[2013-04-30 19:05] jansepar commented on #137
Yes. Yes it should :)

[2013-04-30 21:00] shogun70 commented on #137
Also, there currently isn't a fix for Opera. Should the boot-script be changed to reject Opera?

[2013-05-08 21:14] jansepar commented on #137
I have a solution that would work specifically for Opera:

[code]

[2013-05-09 18:26] jansepar commented on #137
Hmmm, executing `history.back()` works, and I assumed that would override the back button, but that isn't the case.

[2013-06-10 06:58] #127 closed, assigned to nobody

[2013-06-10 07:00] #42 closed, assigned to nobody

[2013-06-10 07:01] jansepar commented on #29
This is the case in 2.0

[2013-06-10 07:01] #29 closed, assigned to romanrudenko

[2013-06-10 07:01] #21 closed, assigned to romanrudenko

[2013-06-10 07:02] jansepar commented on #30
No soup for you, wait 1 year!

[2013-06-10 07:02] #30 closed, assigned to jansepar

[2013-06-10 07:03] jansepar commented on #31
Nah.

[2013-06-10 07:03] #31 closed, assigned to romanrudenko

[2013-06-10 07:03] #33 closed, assigned to nobody

[2013-06-10 07:03] #45 closed, assigned to nobody

[2013-06-10 07:04] #46 closed, assigned to jansepar

[2013-06-10 07:04] jansepar commented on #47
https://github.com/mobify/mobify-modules

[2013-06-10 07:04] #47 closed, assigned to jansepar

[2013-06-10 07:05] jansepar commented on #68
Most of this is done in 2.0

[2013-06-10 07:05] #68 closed, assigned to noahadams

[2013-06-10 07:05] #72 closed, assigned to nobody

[2013-06-10 07:06] jansepar commented on #81
lol, this ticket is getting some love: https://github.com/mobify/mobifyjs/pull/166

[2013-06-10 07:07] #85 closed, assigned to nobody

[2013-06-10 07:07] jansepar commented on #74
https://github.com/mobify/mobify-modules

[2013-06-10 07:07] #74 closed, assigned to nobody

[2013-06-10 07:11] jansepar commented on #101
Added to 1.1: https://github.com/mobify/mobifyjs/blob/v1.1/api/extractDOM.js#L60
And 2.0: https://github.com/mobify/mobifyjs/blob/v2.0/src/capture.js#L141

[2013-06-10 07:11] #101 closed, assigned to jansepar

[2013-06-10 07:14] #105 closed, assigned to nobody

[2013-06-10 07:14] #139 closed, assigned to nobody

[2013-06-19 18:30] jansepar commented on #121
Here is the bugzilla ticket that has existed for some time: https://bugzilla.mozilla.org/show_bug.cgi?id=556002

[2013-06-19 18:35] jansepar commented on #137
Opera Next does not have the back button problem, now that it is powered by Blink. Since the back button is no longer a problem in IE, Firefox, and the latest Opera, I am closing this ticket.

[2013-06-19 18:35] #137 closed, assigned to nobody

[2013-06-19 19:46] #81 closed, assigned to nobody

[2013-07-30 13:11] #136 closed, assigned to nobody

[2013-07-30 13:12] #114 closed, assigned to nobody

[2013-07-30 13:13] #11 closed, assigned to noahadams

[2013-07-30 13:13] #104 closed, assigned to nobody

[2013-10-03 06:51] #55 closed, assigned to rrjamie

[2013-10-03 06:53] jansepar commented on #133
You're totally right @vmarta, it should be `enabledHTMLString`! Sorry for taking a bigillian years to get to this :)

[2013-10-10 05:54] simevidas opened #201 "URL in README is https:// resulting in site-block in Firefox"
Result:

![capture](https://f.cloud.github.com/assets/716405/1303971/546cc548-3170-11e3-92a9-db5bd6b42642.PNG)

Change https:// to http://.

[2013-10-24 21:10] yoavweiss opened #210 "Use of a real picture element can create compatibility issues"
Since the picture proposal is still a draft, and future changes to it are highly probable, adding it to the markup can actually be harmful to the standardization process and can create future compatibility issues.

A different pattern (such as picturefill’s use of spans with a “data-picture” attribute) is highly preferred, since it enables Web developers to experiment with a picture-like syntax, w

[2013-10-29 06:27] jansepar commented on #210
Yep this is definitely a valid issue. Will address it ASAP!

[2013-10-29 19:10] puzrin opened #213 "Allow to inject mobify.js into page instead of script load"
It would be nice to have alternate init, when mobify script is completely injected into page (via asset manager).

For example, we do hybrid app, where client's html is loaded only once, and then everything switches to ajax http://dev.nodeca.com/ . I this case, injecting customized build of mobify.js directly into page looks quite reasonable.

Could you provide alternate initializer for that?

[2013-10-30 23:42] jansepar commented on #213
Hi @puzrin, just to be clear, what you want is a way to load mobify.js with the entire file inlined in the page, rather then loading mobify.js using an external file?

[2013-10-30 23:49] puzrin commented on #213
Yes. Exactly.

Sometime it's profitable to inline small core scripts directly into page (like mobify, modernizr and yepnope).

[2013-11-05 09:33] reinos opened #216 "Background-image css inline"
Hi there,

Is it possible to convert inline css images?

Please let me know.

Rein

[2013-11-07 18:14] jansepar commented on #216
Hi @reinos,

There isn't an automatic way of doing this. However, with Capturing you have the power of completely modifying the HTML before it is rendered - thus, if you found each element that had the inline css images, and modified the paths to those images yourself, that would be one way to go about doing it.

[2013-11-07 18:16] jansepar opened #220 "Allow integers to be used for options params in the `resize` API"
Currently things bomb out when you give a int rather then a string for say, overriding image quality. This should be fixed!

[2013-11-26 07:23] jansepar commented on #213
Hi @puzrin, sorry I haven't gotten back to you on this! I should hopefully have time to hack this together soon since it shouldn't be much work :)

[2013-11-26 07:56] puzrin commented on #213
Thanks for good news. I've temporary rolled back mobifier use due side effects in FF. Plan to try again when situation with 2.0 stabilises.

Just one more note about intergation with other projects. Please, provide separate file with loader code (that loads mobifier). When project use assets manager (like sprockets/mincer), it's more practical to include loader with marcos, than manualy copy-paste

[2013-11-26 08:00] jansepar commented on #213
@puzrin what kind of side effects were you running into with FF? Just want to make sure there aren't issues I'm not aware of.

[2013-11-26 08:15] puzrin commented on #213
Last time, when i used mobifier, where was several issues and i had to roll back due lack of time:
1. My project uses history API very intensively. So, "problem with back button" caused global fuckup in FF - nothing worked at all. I'm sure, that workaround is possible, but had no time to dig deeply.
2. lazyoad plugin for images had bug, that caused existing images reload on every scroll action
3.

[2013-11-26 10:04] jansepar commented on #213
@puzrin interesting that you had problems with the back button. That is a solved issue! If you have anymore details feel free to shoot them over :)

[2013-11-26 11:20] puzrin commented on #213
Glad to see that FF issue is solved now. Was it fixed in firefox or you added hack to mobifier? Can't find commit in history.

[2013-12-02 03:18] jansepar commented on #213
@puzrin the fix was resolved a very long time ago, at a time that was likely before you used it, so there very well could be an issue I have never encountered. If you had a minimal test case I would love to take a look.

[2013-12-02 03:18] #201 closed, assigned to nobody

[2013-12-02 03:33] #216 closed, assigned to nobody

[2013-12-02 05:14] jansepar commented on #210
Hi @yoavweiss, I've issues a pull request for this, would love if you want to take a quick peek to see if I've done it as you were hoping. I've actually made it so that `<picture>` still works for backwards compatibility, but I've changed all example code and examples on the website to use `<span data-picture>`. Let me know if this change is to your liking!

[2013-12-06 17:12] yoavweiss commented on #210
Hi @jansepar !
As long as the use of explicit <picture> is discouraged, I'm cool with this change. (backward compat is not a problem, as long as new sites don't use the explicit <picture>).

Thanks! :)

[2014-01-06 08:22] hallvors commented on #213
The project @puzrin is working on combined with Mobify.js might very well be the first attempt at using history.pushState() with document.write() - generated documents in Firefox. I'm not at all surprised if this would cause some issues because it probably is barely tested - if at all. That said, I would also be interested in seeing a minimal test case - if we have Firefox bugs here it would be go

[2014-01-06 08:37] jansepar commented on #213
@hallvors we became aware of the bug with mobify.js and history.pushState() in Firefox a couple weeks ago. We also became aware of an issue that caused Firefox to refresh the page when clicking on an anchor with hash links causes. We came up with a fix for that here, but its sub-optimal:

http://www.mobify.com/mobifyjs/v2/docs/capturing/#patchanchorlinks

That page also mentions the issue with the

[2014-01-06 08:52] hallvors commented on #213
@jansepar great if you can report that bug and send over a minimal test :+1:

I noticed the refresh problem while working on https://bugzilla.mozilla.org/show_bug.cgi?id=944508 and actually also noticed that you had a workaround coming up - https://bugzilla.mozilla.org/show_bug.cgi?id=881487#c10

I will certainly try to _help_ getting bugs that affect you killed, but as I unfortunately don't fix t

[2014-01-06 08:59] jansepar commented on #213
Ah, cool, so there is a bug report already for the anchor link issue! I've voted on it :)

The patch I submitted has only been added to mobify.js 2.0 and has not been backported to 1.1 (which is what Wired is using). The patch could be backported but it would be highly preferred for this to be fixed in FF itself, as our patch for it breaks anchor links showing up in the URL bar, and due to the his

[2014-01-06 09:06] jansepar commented on #213
And @hallvors thanks for pushing these bugs along, greatly appreciated :)

[2014-02-11 16:37] TrueBrain opened #245 "Android 2.3 not working"
I have an Android 2.3.5 (HTC Desire HD). When I open:

http://cdn.mobify.com/mobifyjs/examples/capturing-picturepolyfill/index.html

No images are loaded. A bit of digging later:

this version of android removes the <source> tags from the DOM completely. The only place I can mage to get <source> workable, is within <audio> and <video> tag. Any other tag does work; it is only <source> that is being

[2014-03-02 09:43] fillon opened #251 "Where can I find a documentation to get started ?"
Hi there,

Where can I find the tag to use modify-v2 ?

Thanks for your help,
Stephane.

[2014-03-05 18:08] zrw354 opened #254 "Latest version of mobify.js somewhat minified?"
The latest mobify.js on Github is partially minified. Are you guys sure this is a version for human eyes? It seems that you've just decided to not use almond.js, though.

[2014-03-05 18:21] jansepar commented on #254
@zrw354 I actually never noticed that :). We moved away from Almond.js and went with Browserify. Seems like the loader they insert comes in minified. Adding to my TODO list to check if we can get that snippet unminified. Did a quick googling and couldn't figure it out right away - seems like someone has a similar complaint though: https://github.com/substack/node-browserify/issues/623

[2014-03-05 20:19] zrw354 commented on #254
Hi jansepar,

Thanks for the quick response.

I forked mobify/mobifyjs last week, with mobify.js being the version based on almond.js. I'd like to catch up with your latest version.

Regards,
zrw354

[2014-03-05 21:05] jansepar commented on #254
Cool, feel free to rebase what's in the v2.0 branch!

[2014-03-10 03:31] jansepar commented on #251
Hi @fillon, you can find the docs here: http://www.mobify.com/mobifyjs/v2/docs/

[2014-03-10 03:31] #251 closed, assigned to nobody

[2014-04-24 18:37] johnrobertallan opened #272 "minified version on website has 'mainUrl' as undefined - should be 'e'"
the example on your site seems to be minified incorrectly. mainUrl comes back as undefined.. i changed that to e and it worked. Sorry, no time to check in a fix at the moment.

[2014-05-20 17:34] johnrobertallan opened #277 "style.backgroundImage blank after capturing"
During capturing if I try to modify the style.backgroundImage property on a DIV it ends up blank when the document is rendered. Any thoughts or tricks? I'm attempting to add a query string to do a responsive image. e.style.backgroundImage = 'url(background.jpg?width=200)';

It seems to work if I parse it out of the style attribute.  The problem with this is that it doesn't work in older versions o

[2014-05-27 21:01] jlind commented on #272
I agree.
I found this issue as well by using the quickstart on http://www.mobify.com/mobifyjs/v2/docs/ and trying to use my own main.js file.

[2014-05-27 21:12] jansepar commented on #272
Thanks for the bug reports! While I will fix this, I would actually recommend moving away from using a main.js file, and instead either use the callback based approach or taking the contents in the main file and combining it with the library file. Reduces the # of requests :)

[2014-08-29 11:41] jwamsterdam opened #279 "Scaled Transitions carousel layout not working with single m-item element"
I'm using the carousel plugin with the Scaled Transitions layout (https://www.mobify.com/mobifyjs/modules/carousel-examples/), and generate m-item objects dynamically using angularJS.

Whenever I apply filters in angular, to limit the amount of elements (m-items), I noticed that the carousel is not displaying an image when there is only one m-item element.

Is this a bug? Of can it be solved by co

[2014-09-03 06:57] justinyueh opened #280 "npm ERROR"
osorehoutekiAir:mobifyjs felix$ npm install

Download already available at /var/folders/dl/jlx90mtx50dgtn0272tqflp80000gn/T/phantomjs/phantomjs-1.9.7-macosx.zip
Extracting zip contents
Copying extracted folder /var/folders/dl/jlx90mtx50dgtn0272tqflp80000gn/T/phantomjs/phantomjs-1.9.7-macosx.zip-extract-1409727313138/phantomjs-1.9.7-macosx -> /Users/felix/Documents/mobifyjs/node_modules/grunt-contr

[2014-09-03 07:00] justinyueh commented on #280
osorehoutekiAir:mobifyjs felix$ git branch
- v2.0

can anybody help me, thanks

[2014-09-03 09:30] jansepar commented on #280
Looks like you might be having some permissions issues with installing. Is there a reason you are wanting to run `npm install` from within mobify.js v2.0? The only time we typically do this is when bringing the library in as a dependancy.

[2014-09-09 09:01] jwamsterdam commented on #279
No one who could help me with this issue? Or did I post in the wrong github topic?

[2014-09-09 17:01] johnboxall commented on #279
Hey @jwamsterdam you might want to try our updated Scooch module:

http://github.com/mobify/scooch

It replaces the old Carousel plugin. Most likely, you'll need to re-initialize the carousel after you dynamically change the number of items contained it in.

[2014-09-09 20:25] jwamsterdam commented on #279
Hi @johnboxall thnx for your reply, but even with scooch, I have the same issue.

Limiting the m-items to only one instance hides the image..

[code]

[2014-09-09 23:02] johnboxall commented on #279
@jwamsterdam can you point me to a public page showing an example?

Here is a page with just one item in the carousel:

http://mobifyjohn.s3.amazonaws.com/mobifyjs-279/index.html

[2014-09-10 15:00] jwamsterdam commented on #279
Hi @johnboxall ,

for now, I am unable to post to a webspace, so perhaps you could copy paste the below code to a html doc, and see what I mean. (there are no local files required in the below code).

btw. The second issue I have is that although I use m-center, the image is not centered..

[code]

[2014-09-11 17:20] jwamsterdam commented on #279
Removing the m-center class makes the m-item visible again, but I don't think this is the solution ;-)

[2014-09-26 07:26] iteratelance opened #286 "swipe on carousel broken on Safari mobile iOS 8.0"
Go to this page: https://www.mobify.com/mobifyjs/modules/carousel/

Carousel will only go to first image and then become stuck.  Swipe will no longer take you backward or forward after first swipe.

I've confirmed that this bug exist in iOS 8.0 & 8.0.2

[2014-09-26 18:44] jansepar commented on #286
So, the carousel on this page has actually been forked and moved to a completely separate repo. I've added a note to actually take down this page :)

If you could have a look at our latest carousel, let us know if the bug exists there:

https://mobify.github.io/scooch/

If it does have the bug, it would be great if you file it here: https://github.com/mobify/scooch

Thanks for reporting!

[2014-09-26 18:44] #286 closed, assigned to nobody

[2014-09-27 08:19] ghost opened #287 "Not working with iPhone 6 (+ Plus)"
Hello,

Just purchased iPhone 6 Plus and tested carousel on my website and and with your examples. You can only slide to the next slide once and then the slider will get absolutely stuck - cannot slide anywhere after that. Tested on latest Safari and latest Google Chrome. Obviously it works on other devices just perfect.

If there is any way to pull out some javascript debug reports or anything ou

[2014-09-27 18:08] jansepar commented on #287
So, the carousel on this page has actually been forked and moved to a completely separate repo. I've added a note to actually take down this page :)

If you could have a look at our latest carousel, let us know if the bug exists there:

https://mobify.github.io/scooch/

If it does have the bug, it would be great if you file it here: https://github.com/mobify/scooch

Thanks for reporting!

[2014-09-27 18:08] #287 closed, assigned to nobody

[2014-10-15 12:55] Cronos87 opened #294 "Error with the new tag Picture"
Hello,

Chrome 38 has implemented the new tag picture, thus with Mobify I get this error:

`<source src> with a <picture> parent is invalid and therefore ignored. Please use <source srcset> instead.`

You can see the error on your demo page: http://cdn.mobify.com/mobifyjs/examples/resizeImages-picture-element/index.html

Thank you.

[2014-10-15 17:04] jansepar commented on #294
@Cronos87 thanks for filing the bug! I'll have to integrate the latest picturefill polyfill into mobifyjs. Should be able to get to that within a few days!

[2014-10-21 18:41] jansepar commented on #294
Opened a PR to fix this that I'm getting some team members to look at:

https://github.com/mobify/mobifyjs/pull/295

[2014-10-24 21:38] jansepar commented on #294
This issue has been resolved in 2.0.16. Thanks again for the bug report :)

[2014-10-24 21:38] #294 closed, assigned to nobody

[2014-10-25 11:08] Cronos87 commented on #294
Thanks to you for the quick fix ;)

[2014-11-17 14:29] lbineau opened #296 "New mobify build error"
The new mobify.min.js (the one with "Fixes some issues with picture that have to do with the latest spec") is trying to load other files through requireJS :
mobifyjs/utils
mobifyjs/capture
mobifyjs/resizeImages
mobifyjs/jazzcat
mobifyjs/unblockify
mobifyjs/cssOptimize
mobifyjs/external/picturefill

The minified version should embed them right ?
So I get an error and the script is not working.

Any

[2014-12-05 05:35] jansepar commented on #296
Hi @lbineau sorry for taking so long to get back to you! I just quickly tried it out and I don't seem to get any errors when embedding the script into a sample html page. Here it is:

https://gist.github.com/jansepar/96991a2930604fd497ea

Could you give me more explicit steps to reproduce?

[2014-12-08 10:30] lbineau commented on #296
Hi @jansepar ,

Could you try to add a the following updated tags in the demo page to see if it's actually working ?

Performance purpose :

[code]

http://www.webkit.org/demos/srcset/

or

Art direction purpose :

[code]

http://www.html5rocks.com/en/tutorials/responsive/picture-element/

Thank you.

[2014-12-13 00:37] eml opened #297 "Firefox not loading scripts"
Go to the 'resizeImages' sample page in the latest Firefox (34, on my Mac):

http://cdn.mobify.com/mobifyjs/examples/resizeImages-img-element/index.html

If you do a 'shift-reload' of the page, none of the external resources on the page load up.

The best I can surmise is that Firefox is trying to load up those resources before the capture starts, then it aborts the loading during the capture, the

[2014-12-21 06:36] jansepar commented on #297
I'm a bit confused at the behaviour that you're seeing with regards to some of the external resources loading, but some not. I'll just explain what is going on in Firefox and it might make more sense :)

Basically, in Firefox, when you attempt to do a refresh of page `/foo`, since we used `document.open`, `document.write(htmlString)`, and `document.close`, Firefox will no longer attempt to fetch t

[2015-02-16 15:10] shystruk opened #300 "mobifyjs or adaptivejs"
Hello!

I have found framework Adaptive.js on Mobify.com.
Is the mobifyjs older product and doesn't use now ?
Better use Adaptive.js ?

Thank you!

[2015-02-16 18:48] jansepar commented on #300
Hi @shystruk!

Adaptive.js is our new framework for adapting the experience of existing websites for difference devices. Mobify.js (1.X) was initially also a framework for adapting the experience of existing websites, but has evolved (in 2.0) to become more of a core library for a number of Mobify services. Mobify.js is actually a dependancy in Adaptive.js!

Here is a high level overview of the di

[2015-02-16 18:54] jansepar commented on #300
If you're looking to learn more about adaptive.js or to try it out, I would start here:

https://cloud.mobify.com/docs/adaptivejs/overview/what-is-adaptivejs/

[2015-02-16 18:59] shystruk commented on #300
Thank you!

[2015-02-16 18:59] #300 closed, assigned to nobody

[2015-04-16 00:51] MadLittleMods opened #302 "`mobifyjs` symbol-link/directory-alias not working (Windows)"
When running `grunt server`, I get this error: `Error: ENOENT, no such file or directory 'mobifyjs-2.0\mobifyjs\performance\resources\samplescripts'`.

I assume this is because `express` isn't properly using the [`mobifyjs` file](https://github.com/mobify/mobifyjs/blob/e620f321d599c1f014869fa77ecee400c4358dfe/mobifyjs) in the root.

I am on running on Windows.

---

Using [`connect-modrewrite`](ht

[2015-12-10 07:12] terinjokes commented on #254
@jansepar you can provide an `opts.prelude` (and `opts.preludePath`, for sourcemaps) to browserify's API that accepts a string version of the prelude. The repo (and the package) of `browser-pack` includes the [unminified source](https://github.com/substack/browser-pack/blob/master/prelude.js).

I do not know if you can provide custom options to `grunt-browserify` very easily, but I'll leave that t

[2016-02-16 21:25] #213 closed, assigned to nobody

[2018-04-13 18:04] #245 closed, assigned to nobody